@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...

body.x-ios.x-phone {
  font-size: 150%;
}

body {
  font-size: 150% !important;
}

.assist{
  color: gray;
  margin-left: 30%;
  padding-top: 2px;
  font-style: italic;
  font-size: 0.75em;
  margin-bottom: 20px;
  @include background-image(linear-gradient(left, $form-label-background-color, lighten($form-label-background-color, 5)));
}

.assist-radio{
  @extend .assist;
  margin-bottom: 0px;
  padding-left: 0.5em;
  font-style: normal;
  font-size: 1em;
  color: black
}

.x-form-fieldset .x-field {
  border-bottom: none
}
