$form-label-bg-color: black;
$form-label-color: white;
$active-color: desaturate(blue, 70);
$base-color: #8bc531;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...

// body.x-ios.x-phone {
//   font-size: 150%;
// }

// body {
//   font-size: 150% !important;
// }

.assist{
  color: gray;
  margin-left: 30%;
  font-style: italic;
  font-size: 0.75em;
  @include background-image(linear-gradient(left, $page-bg-color, lighten($form-label-background-color, 5)));
}

.assist-radio{
  @extend .assist;
  margin-bottom: 0px;
  padding-left: 0.5em;
  font-style: normal;
  font-size: 1em;
  color: black;
}

// .x-form-fieldset .x-field {
//   border-bottom: none
// }
.x-form-fieldset-instructions {
  margin: 0.3em 0.7em 1em;
  text-align: left;
  padding-left: 30%;
}

// Allow wrap of title or
// long title mess up the 
// layout
.x-form-fieldset-title{
  white-space: normal;
}

.x-form-fieldset {
  padding: 0 5px 5px 5px
}

.sketcher {
  .tools { margin-bottom: 10px; 
    a {
      border: 1px solid black; 
      height: 30px; 
      line-height: 30px; 
      padding: 0 10px; 
      vertical-align: middle; 
      text-align: left; 
      text-decoration: none; 
      display: inline-block; 
      color: black; 
      font-weight: bold;
      width: 10px;
    }
  }
  canvas {
    border: 1px solid black; 
  }
}

pre {
  white-space: pre;
}

.x-slider-axis {
  .x-slider-axis-label {
    background-color: $form-label-background-color;
  }
  .x-slider-axis-container {
    padding-left: 30px;
    padding-right: 25px;
    width: 100%;
    .x-slider-axis-inner {
      width: 100%;
      display: inline-block;
      background-color: $form-field-bg-color;
      position: relative;
      span {
        position: absolute;
      }
    }

  }
}

// CLEARFIX SUPPORT
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

// Used to add an axis under
// the slider field and get 
// rid of the middle border
.x-slider-axis-container {
  background-color: $form-field-bg-color;
  .x-slider-axis-field .x-slider-field{
    border-bottom: none;
  }
}

.x-slider-axis-field-label {
  font-size: 0.75em;
  color: darkorange
}

.x-question-list {
  border-right: 2px $toolbar-base-color solid;

}


.x-form-label {
  white-space: normal;
}

.x-table-title {
  background-color: darkgray;
  padding: 2px;
  margin: 1px;
  text-align: center;
}

@include pictos-iconmask('delete')
